/Stock.class
/StockItToMe.class
/StockTester.class
/Tester.class
/StockTest.class
/User.class
/UserTester.class
/Admin.class
/TestyStuff$1.class
/TestyStuff.class
/AdminTest.class
/WelcomePage$1.class
/WelcomePage.class
/login$1.class
/login.class
/TestyStuff$2.class
/TestyStuff$3.class
